.swiper-pagination {
  margin-top: 1rem;
  position: static;
}

.swiper-pagination-bullet {
  background-color: #f59e0b;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: linear-gradient(45deg, rgba(220,38,38,1) 0%, rgba(245,158,11,1) 100%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  top: 10.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
  font-weight: bold;
}

.swiper-button-next::after {
  margin-left: 0.2rem;
}

.swiper-button-prev::after {
  margin-right: 0.2rem;
}